html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Arial";
    font-weight: 400;
}
#root {
    height: 100%;
}
.App {
    height: 100%;
}

.Nav {
    font-family: "Helvetica";
    background: #DDDDDD;
    color: #111;
    position: static;
    height: 100%;
}

.Main {

}

ul {
    column-count: 2;
}

.main-header {
    position: relative;
    margin-top: 100px;
    left: 10%;
    font-size: 2em;
    font-weight: 200;
}
.building-notice {
    position: relative;
    margin-top: 20px;
    left: 10%;
}
.building-notice p {
    line-height: 5px;
    font-size: 1em;
    font-weight: 100;
}

.nav-list {
    list-style: none;
    position: relative;
    margin-top: 30px;
    column-count: 1;
}

.nav-list li {
    font-weight: lighter;
    font-size: 1em;
    margin-top: 20px;
    text-decoration: underline;
}

.bold {
    font-weight: 800;
    font-size: 1.2em;
}

.resume-sec {
    font-size: 0.9em;
}

.resume-sub-sec-text {
    text-decoration: ;
}

.resume-sec h6 {
    text-decoration: underline;
    font-family: "Lato";
}

.print-text {

}
.print-text:hover {
    border: 1px black solid;
}




@media screen and (max-width: 1000px) {
    .Nav {
        height: 300px;
    }
    .nav-list li {
        margin-left: 20px;
        display: inline;
    }
    /*.main-header {*/
        /*position: relative;*/
        /*top: 50px;*/
    /*}*/
    ul {
        column-count: 1;
    }
}

@media print {
    body {
        font-family: "Helvetica";
    }
    .Nav {
        display: none;
    }
}